
.anchor {
  color: #5a473c;
}
.profile {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .burger {
    display: none;
  }

  .items {
    flex-direction: row-reverse;
  }
}